body{
    display: flex;
    justify-content: space-around;
}

#firstSquare, #secondSquare{
    width: 40%;
    height: 600px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.numbers{
    width: 30%;
    height: 30%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}